<section class="p-5 bg-white">
  <div class="container">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">home</div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">profile</div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">contact</div>
    </div>





    <!--div class="tab-content">
      <div class="tab-pane fade show active" id="pills-acheter" role="tabpanel" aria-labelledby="pills-acheter-tab">
      <div class="row">
        <div class="col-3">
          <input class="form-control" placeholder="Ville">
        </div>
        <div class="col-3">
          <input class="form-control" placeholder="Type">
        </div>
        <div class="col-2 input-group">
          <input class="form-control w-30" type="number" placeholder="Min">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
        </div>
        <div class="col-2 input-group">
          <input type="text" class="form-control" type="number" aria-label="Max">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
        </div>
        <div class="col-2 text-right">
          <button class="btn btn btn-warning w-60"> Search</button>
        </div>
      </div>
      </div>
    </div-->

  </div>

</section>
